body, html {
  height: 100%;
  line-height: 1.5;
}

a {
  color: black;
  text-align: center;
  text-decoration: none;
}

h2 {
  font-size: 36px;
}

p {
  font-family: monospace;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

.about_me_content {
  padding: 1em;
  z-index: 1;
}

.about_me_info {
  margin-top: 10em;
  margin-bottom: 10em;
  padding-top: 4em;
  text-align: center;
}

.coding_project {
  padding: 2em;
}

.inpage_link p {
  padding: 1em;
  text-align: center;
}

.inpage_link {
  text-align: center;
}

.hero_img {
  background-image: url('../photos/venice.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.main_nav {
  height: .75em;
  margin-left: 3em;
  text-align: right;
}

.footer_ {
  text-align: center;
}

.footer_content {
  display: inline-block;
  margin: 2em;
  padding: 1em 1em;
}

.github_link {
  object-fit: cover;
  padding: 1em;
}

.main_logo {
  text-align: right;
}

.nav_link {
  display: inline-block;
  font-family: franklin-gothic-atf, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 1em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
}

.overview {
  font-weight: bold;
}

.section_title {
  font-family: libre-franklin, sans-serif;
  font-weight: 800;
  margin: 0 auto;
  padding: 1em 1em;
  text-transform: uppercase;
}

.skills_header {
  font-family: franklin-gothic-atf, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.skills_holder {
  margin-bottom: 2em;
  padding: 2em;
  width: 15%;
}

.skills_pic {
  height:100%;
  object-fit: cover;
  width:100%;
}

.skills_info {
  font-family: libre-franklin, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.python_projects {
  text-align: center;
}

.python_project_holder {
  padding: 1em;
}

.portfolio_project {
  display: inline-block;
  font-family: libre-franklin, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 3em;
  padding: 2em;
}

.project_subtitle {
  font-family: libre-franklin, sans-serif;
  font-style: normal;
  font-weight: 600;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

.project_section {
  margin: 0 auto;
  padding-bottom: 2em;
  padding-top: 2em;
}

.project_item {
  font-family: libre-franklin, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.purpose {
  color: red;
  font-size: 3.5em;
}

.skills {
  text-align: center;
  text-transform: uppercase;
}

.github_link {
  padding-top: 1em;
}

.skills_subsection {
  box-shadow: 10px 10px 10px 5px grey;
  margin: 0 auto;
  padding: 1em 1em;
  text-align: center;
}

.skills_holder {
  display: inline-block;
  padding: 2em 2em;
  text-align: center;
}

.link_text {
  text-align: center;
}
