{% include 'header.html' ignore missing %}

<div class = 'about_me_info'>

  <p>Data Scientist residing in Los Angeles, California.</p>

  <p>I am interested in forecasting and analysing Economic Trends, Financial Assets, and everyday life.</p>

  <p>Skilled at Time Series Analysis and Forecasting as well as Natural Language Processing.</p>

  <p>When I'm not coding, I'm hanging with my family, hiking, playing basketball (Go Warriors!), or mastering my pancake recipe.</p>

</div>

{% include 'footer.html' ignore missing %}
