{% include 'header.html' ignore missing %}

    <h2 class='section_title'>Technical Skills</h2>
    <div class ='skills_subsection'>
      <div class='skills_holder'><p class='skills_info'>Python</p><img src = "../static/photos/python_logo.jpeg" class='skills_pic'></div>
      <div class='skills_holder'><p class='skills_info'>SQL</p><img src = "../static/photos/sql_logo.png" class='skills_pic'></div>
      <div class='skills_holder'><p class='skills_info'>Tableau</p><img src = "../static/photos/tableau_logo.png" class='skills_pic'></div>
      <div class='skills_holder'><p class='skills_info'>Javascript</p><img src = "../static/photos/js_logo.png" class='skills_pic'></div>
    </div>

    <h2 class = 'section_title'>Projects</h2>
      <ul class = 'python_projects'>
        <div class = 'python_project_holder'>
          <li class='portfolio_project coding_project'><p class = 'project_title'>New York City Real Estate</p>
            <p><span class = 'project_type overview'>Skills Used: </span> Python, Time-Series Analysis, Data Visualization, Statistical Analysis</p>
            <p><span class='overview'>Overview:</span> Ten year Time-Series Analysis of the asking price of homes across all New York City boroughs.</p>
            <a href='https://github.com/GabeSArn/NYC_RealEstate'><img src = "../static/photos/github_black.png" class='github_link'></a>
          </li>
        </div>
        <div class = 'python_project_holder'>
          <li class='portfolio_project coding_project'><p class = 'project_title'>Observing News Titles</p>
            <p><span class = 'project_type overview'>Skills Used: </span> Python, Natural Language Processing, SQL</p>
            <p><span class='overview'>Overview:</span> Data Mining Local and National News Titles to find communication patterns in the news.</p>
            <a href='https://github.com/GabeSArn/Headlines'><img src = "../static/photos/github_black.png" class='github_link'></a>
          </li>
        </div>
      </ul>

    <h2 class = 'section_title'>Additional Links</h2>
      <nav class = 'footer_'>
        <button type="button" class='button_link'><a href="https://www.github.com/GabeSArn">Github</a></button>
        <button type="button" class='button_link'><a href="https://public.tableau.com/profile/gabe.arnold#!/">Tableau</a></button>
        <button type="button" class='button_link'><a href="https://www.linkedin.com/in/gabriel-arnold-39a56692/">LinkedIn</a></button>
      </nav>

{% include 'footer.html' ignore missing %}
