{% include 'header.html' ignore missing %}

<div class = 'hero_img'>
  <p class = 'page_content about_me_content purpose'>
    Understanding and learning about the world around me.
  </p>
</div>

  <div class ='skills_subsection'>
    <h2 class='section_title'>Technical Skills</h2>
    <div class='skills_holder'><p class='skills_info'>Python</p><img src = "../static/photos/python_logo.jpeg" class='skills_pic'></div>
    <div class='skills_holder'><p class='skills_info'>Javascript</p><img src = "../static/photos/js_logo.png" class='skills_pic'></div>
    <div class='skills_holder'><p class='skills_info'>SQL</p><img src = "../static/photos/sql_logo.png" class='skills_pic'></div>
    <div class='skills_holder'><p class='skills_info'>Tableau</p><img src = "../static/photos/tableau_logo.png" class='skills_pic'></div>
  </div>

  <div class = 'project_section'>
    <h2 class = 'section_title'>Projects</h2>
      <ul class = 'python_projects'>
        <div class = 'python_project_holder'>
          <li class='portfolio_project coding_project'><p class = 'project_title'>New York City Real Estate</p>
            <p><span class = 'project_type overview'>Skills Used: </span> Python, Time-Series Analysis, Data Visualization, Statistical Analysis</p>
            <p><span class='overview'>Overview:</span> Ten year Time-Series Analysis of the asking price of homes across all New York City boroughs. Dataset was provided by Street Easy.</p>
            <p><span class='overview'>Models Used:</span> AR Model, MA Model, ARIMA Model</p>
            <a href='https://github.com/GabeSArn/NYC_RealEstate'><img src = "../static/photos/github_black.png" class='github_link'></a>
          </li>
        </div>
        <div class = 'python_project_holder'>
          <li class='portfolio_project coding_project'><p class = 'project_title'>Observing News Titles</p>
            <p><span class = 'project_type overview'>Skills Used: </span> Python, Natural Language Processing, SQL</p>
            <p><span class='overview'>Overview:</span> Data Mining Local and National News Titles to find communication patterns in the news.</p>
            <p>I have a theory that a lot of news articles are mostly either about violence or a Celebrity. I am gathering news titles from various sources across America to see if that theory is true.</p>
            <a href='https://github.com/GabeSArn/Headlines'><img src = "../static/photos/github_black.png" class='github_link'></a>
          </li>
        </div>
        <div class = 'python_project_holder'>
          <li class = 'project_item'><p class = 'project_title'>Visualizing the United States Economy</p>
            <p><span class = 'project_type overview'>Skills Used: </span> Data Visualization, Economic Analysis, Tableau</p>
            <p><span class='overview'>Overview:</span> Transforming data to visualize the American Economy.</p>
          </li>
        </div>
      </ul>
    </div>

<h2 class = 'section_title'>Blogs</h2>
  <p class='link_text'><a href= 'https://medium.com/@geezuhs/exploring-recursion-85fe7a132806' class = 'blog_link' target="_blank">
    Exploring Recursion
  </a></p>

  <p class='link_text'><a href= 'https://medium.com/@geezuhs/brief-exploration-of-big-data-90be593ba40a' class = 'blog_link' target="_blank">
    Brief Exploration of Big Data
  </a></p>


{% include 'footer.html' ignore missing %}
